body {
  font-family: var(--page-font);
  font-weight: var(--page-font-weight);
  font-style: normal;
  font-size: 12px;
  line-height: 1.3;
  height: 100%;
  margin: 0;

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.2;
  }
}

body.modal-open {
  overflow: hidden;
}
