.btn {
    border-radius: 5px;
    padding: 6px 27px 6px 27px;
  
    cursor: pointer;
    border: 1px solid #000000;
    background-color: transparent;
  
    width: 110px;
    font-weight: 500;
    line-height: 1.33;
    text-transform: uppercase;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    @media screen and (min-width: 767px) and (max-width: 1199px) {
      width: 125px;
      padding: 12px 7px 12px 7px;
    }
    @media screen and (min-width: 1200px) {
      width: 136px;
      padding: 12px 10px 12px 10px;
      font-size: 12px;
    }
    &:hover,
    &:focus {
    background-color: #ff6b01;
    color: #ffffff;
    border: 1px solid #ff6b01;
  
  }
  }