.close-button {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-8px, 8px);
  
    width: 30px;
    height: 30px;
    // padding: 0;
  
    background-color: transparent;
    border: none;
    cursor: pointer;
  
    &__icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      outline: black 1px solid;
    }
  
    &:hover &__icon,
    &:focus &__icon {
      fill: #ff6b01;
    }
  }