@import '~node_modules/modern-normalize/modern-normalize.css';

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    
    @media screen and (min-width: 1200px) {
    font-size: 20px;
    line-height: 1.2;
    }
}