<footer id="js-footer">
    <div class="container">
        <div class="footer__content">
            <p class="info">&#xa9; 2022</p>
            <p class="info">All Rights Reserved</p>
            <p class="info">Developed with<svg width="14px" height="12.75px" class="footer-heart">
                    <use href="./images/icons/icons.svg#icon-heart"></use>
                </svg>
            </p>
            <p class="info">by<span class="underline js-modal">GoIT Students</span></p>
        </div>
    </div>
</footer>