<header class="header">

  <div class="header__container">
    <a class="logo link" href="./index.html">
      <svg class="logo__icon" width="24" height="24">
        <use href="./images/icons/icons.svg#icon-film"></use>
      </svg>
      <span class="logo__text">Filmoteka</span>
    </a>
    <nav>
      <ul class="nav list">
        <li class="nav__item">
          <a class="nav__link nav__link--current" href="./index.html">HOME</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="./library.html">MY LIBRARY</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="header__search-thumb">
    <form class="search-form js-input-form " name="searchQuery">
      <input class="search-form__input" type="text" placeholder="Movie search" />
      <button class="search-form__btn js-submitBtn" type="submit">
        <svg class="search-form__icon">
          <use href="./images/icons/icons.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    <p class="header__warning is-hidden">
      Search result not successful. Enter the correct movie name and try again.
    </p>
  </div>

</header>