<div class="backdrop is-hidden" data-modal>
    <div class="modal">
      <!-- close BTN -->
      <button class="close-button close-btn-js" type="button" data-modal-close>
        <svg class="close-button-icon" width="14" height="14">
          <use href="./images/icons/icons.svg#icon-close"></use>
        </svg>
      </button>
      <div class="container-content">
        <div class="container-img">
            <img
              class="carrent-img carrent-img-js"
              src="./images/modal-on-card/img-film-desc.jpg"
              alt="Poster of film"
              width="240"
            />
            <!--dynamic layout in alt and src-->
          </picture>
        </div>
        <div class="container-description">
          <h2 class="name-film name-film-js">A FISTFUL OF LEAD</h2>
          <!--dynamic layout h2-->
          <ul class="list">
            <li class="item">
              <span>Vote / Votes</span>
              <p class="vote-value-list vote-value-list-js">
                <span class="vote-rating-list vote-rating-list-js">7.3</span
                >/<span class="votes-vews-list votes-vews-list-js">1260</span>
              </p>
              <!--dynamic layout p-->
            </li>
            <li class="item">
              <span>Popularity</span>
              <p class="popularity-value-list popularity-value-list-js">100.2</p>
              <!--dynamic layout p-->
            </li>
            <li class="item">
              <span>Original Title</span>
              <p class="title-value-list title-value-list-js">
                A FISTFUL OF LEAD
              </p>
              <!--dynamic layout p-->
            </li>
            <li class="item">
              <span>Genre</span>
              <p class="genre-value-list genre-value-list-js">Western</p>
              <!--dynamic layout p-->
            </li>
          </ul>
          <h3 class="header-about">About</h3>
          <p class="description-about description-about-js">
            Four of the West’s most infamous outlaws assemble to steal a huge
            stash of gold from the most corrupt settlement of the gold rush towns.
            But not all goes to plan one is killed and the other three escapes
            with bags of gold hide out in the abandoned gold mine where they
            happen across another gang of three – who themselves were planning to
            hit the very same bank! As tensions rise, things go from bad to worse
            as they realise the bags of gold are filled with lead... they’ve been
            double crossed – but by who and how?
          </p>
          <!--dynamic layout p-->
  
          <div class="container-modal-btn">
            <button
              class="btn current-btn btn-watched btn-watched-js"
              type="button"
            >
              add to Watched
            </button>
            <button class="btn btn-queue btn-queue-js" type="button">
              add to queue
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  