<div class="container">
    <div class="pagination" id="pagination_js">
        <button type="button" class="pagination__prev">prev</button>
        <button type="button" class="pagination__firstEl pagination__el--current">1</button>
        <div class="pagination__dots" id="dots__prev">...</div>
        <ul class="pagination__list" id="pagination_list_js"></ul>
        <div class="pagination__dots" id="dots__next">...</div>
        <button type="button" class="pagination__lastEl">last</button>
        <button type="button" class="pagination__next">next</button>
    </div>
</div>