<div class="modal-form__backdrop hidden" data-modal>
    <div class="modal-form modal">
        <!-- close BTN -->
        <button class="modal-form__close-button" type="button">
            <svg class="close-button__icon" width="14" height="14">
                <use href="./images/icons/icons.svg#icon-close"></use>
            </svg>
        </button>
        <div class="modal-form__area">
            <p class="modal-form__title">Register</p>
                <form class="modal-form__registration">
                <ul class="modal-form__list list">
                    <li class="modal-form__item">
                        <label class="modal-form__label">
                            <span class="modal-form__text">
                                Name
                            </span>
                            <input class="modal-form__field username" id="username" type="text" name="username"
                                placeholder="Name">
                        </label>
                    </li>
                    <li class="modal-form__item">
                        <label class="modal-form__label">
                            <span class="modal-form__text">
                                Mail
                            </span>
                            <input class="modal-form__field email" id="email" type="email" name="email" placeholder="1234@gmail.com">
                        </label>
                    </li>
                    <li class="modal-form__item">
                        <label class="modal-form__label">
                            <span class="modal-form__text">
                                Password
                            </span>
                            <input class="modal-form__field password" id="password" type="password" name="password"
                                placeholder="Password">
                        </label>
                    </li>
                </ul>
                <div class="modal-form__btn">
                    <button class="modal-form__button btn" type="submit" id="register">
                        <span class="form__text">
                            Register Now
                        </span>
                    </button>
                </div>
            </form>
            <p class="modal-form__title modal-form__title--color">OR</p>
            <p class="modal-form__title">Log in</p>
            <form class="modal-form__login">
                <ul class="modal-form__list list">
                    <li class="modal-form__item">
                        <label class="modal-form__label">
                            <span class="modal-form__text">
                                Mail
                            </span>
                            <input class="modal-form__field email" id="mail" type="email" name="email"
                            placeholder="1234@gmail.com">
                        </label>
                    </li>
                    <li class="modal-form__item">
                        <label class="modal-form__label">
                            <span class="modal-form__text">
                                Password
                            </span>
                            <input class="modal-form__field password" id="pasw" type="password" name="password"
                            placeholder="Password">
                        </label>
                    </li>
                </ul>
                <div class="modal-form__btn">
                    <button class="modal-form__button btn" type="submit" id="logIn">
                        <span class="form__text">
                            Log In Now
                        </span>
                    </button>
                </div>
                </form>
        </div>
        <div class="modal-form__greeting">
            <p class="modal-form__title">Welcome User!</p>
            <div class="modal-form__btn">
                <button class="modal-form__button btn modal-form__button--hidden" type="submit" id="logOut">
                    <span class="form__text">
                            Log Out
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>