.btn {
    border-radius: 5px;
    padding: 6px 27px 6px 27px;
  
    cursor: pointer;
    border: 1px solid var(--main-text-color);
    background-color: transparent;
  
    width: 110px;
    line-height: 1.33;
    text-transform: uppercase;
    transition: box-shadow, background-color var(--animation);
  
    @media screen and (min-width: 767px) and (max-width: 1199px) {
      width: 125px;
      padding: 12px 7px 12px 7px;
    }
    @media screen and (min-width: 1200px) {
      width: 136px;
      padding: 12px 10px 12px 10px;
      font-size: 12px;
    }
    &:hover,
    &:focus {
    background-color: var(--accent-btn-color);
    color: var(--second-text-color);
    border: 1px solid var(--accent-btn-color);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  
  }
  }