.close-button {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-8px, 8px);
  
    width: 30px;
    height: 30px;
    // padding: 0;
  
    background-color: transparent;
    border: none;
    cursor: pointer;
  
    &__icon {
      position: absolute;
      top: 50%;
      left: 50%;
      fill: #000;
      transform: translate(-50%, -50%);
      transition: fill var(--animation);
      // outline: black 1px solid;
    }
  
    &:hover &__icon,
    &:focus &__icon {
      fill: var(--accent-btn-color);
    }
    &:hover &__icon-trailer,
    &:focus &__icon-trailer {
      fill: rgb(144, 8, 8);
    }

  }