@media screen and (min-width: 320px) {
footer {

background-color: #F7F7F7;

}

footer > .container{
padding: 0;

}

.footer-content{
width:100%;
margin-left:auto;
margin-right: auto;
padding-top: 28.71px;
padding-bottom: 29.7px;
padding-left: 36px;
padding-right: 36px;
text-align: center;

}



.info {
display: inline-block;
padding-right: 0.5em;
margin-bottom: 10px;

border-right: 1px solid black;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.14;

}

.info:nth-last-child(-n+2) {
padding-right: 0px;

border-right:0px;

}

.footer-heart{
margin-left: 0.5em;
margin-right: 0.25em;
}

.underline{
display: inline-block;
margin-left: 0.5em;

text-decoration: underline;
}


}



@media screen and (min-width: 768px) {

footer>.container{
padding: 0;
}

.info {
font-size: 16px;
line-height: 1.19;
margin-bottom: 0;

}

}



@media screen and (min-width: 1280px) {

footer > .container{
padding: 0;

}
.info {
font-size: 16px;
line-height: 1.19;

}


}