@media screen and (min-width: 320px) {

    .footer__backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        padding: 20px;
        
        background-color: var(--backdrop-background);
        z-index: 1;
        overflow: auto;

                &.hidden {
            opacity: 0;
            pointer-events: none;

        }

        // &.hidden .footer__modal {
        //     transform: translateX(-50%) scale(0);
        // }

    }

 


    .footer__modal {
        position: relative;
        
        width: 280px;
        height: auto;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 40px;
        margin-left: auto;
        margin-right: auto;

        background: var(--second-text-color);
        border-radius: 3px;

        // transform: translate(-50%, -50%) scale(1) rotate(1turn);

        // transition-property: transform;
        // transition-duration: 500ms;
        // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &.dark-theme{
            background-color:var(--dark-theme-modal-card) ;
            color:var(--second-text-color);
        }
              
    }


    .modal-close__btn {
        position: relative;
        top: 0px;
        right: 0px;
        padding: 6px;
        transform: translateX(700%);

        border: 0px;
        background-color: var(--second-text-color);
        fill: var(--main-text-color);

        transition-property: fill var(--animation);
    }

    .modal-close__btn:hover {

        fill: var(--accent-btn-color);

    }

    .team__logo {
    
    width: 60px;
    margin: 0;
    transform: translate(300%, 20%);
    border-radius: 50%;
    overflow: hidden;
    
    }

    .team__logo-img{
    display: block;
    width: 100%;
    margin: 0;
    
    }



    .team__name {
        display: block;
        margin-bottom: 30px;

        text-align: center;
        text-transform: uppercase;

        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;

        color: var(--accent-color);

    }

  .team__list-item {
        width: 100%;
        height: auto;
        margin-bottom: 20px;  
  }

   .team__list-item:last-child {
        margin-bottom: 0px;
        
        }


    


    .teammate__card {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .25);

        overflow: hidden;
    
}

.teammate__card:hover .social__nets,
.teammate__card:focus .social__nets {
opacity: 1;

}
       

    .img__thumb {
        width: 100%;
        max-height: auto;

        overflow: hidden;

    }


    .teammate__picture {
        width: 100%;
        height: auto;
    }

    .teammate__info {
        
        width: 100%;
        height: 100%;
        padding: 10px;

    }

    .info__thumb {
        width: 100%;
        height: 100%;
        display: flex;
        overflow: hidden;

    }

    .name {
        display: block;
        margin-bottom: 10px;
        margin-right: 10px;

        position: relative;

        font-size: 10px;
        line-height: 1.19;

        color: var(--accent-color);

    }

    .name::after {
        position: absolute;
        top: 0;
        right: -5px;
        ;

        display: block;
        content: "";
        display: block;
        width: 1px;
        height: 16px;

        border: 0.5px solid var(--accent-color);

    }


    .role {
        display: block;
        margin-bottom: 10px;

        text-transform: uppercase;

        font-weight: 700;
        font-size: 10px;
        line-height: 1.19;

        color: var(--accent-color);

    }


    .responsibilities {
       
        text-align: justify;
        word-break: keep-all;

        font-size: 12px;
        line-height: 1.19;

        color: var(--main-text-color);

    }

    // ------------------------------Соцсети

    // .icons-position{
    // position: relative;
    
    // }

    .social__nets {
    position: absolute;
    top: 0;
    left: 10px;
    
   

        max-width: 100%;
        height: auto;
        opacity: 0;

        transition: opacity var(--animation-icons);

    }


.teammate__card:hover .social__nets,
.teammate__card:focus .social__nets {
opacity: 1;

}




    .team__nets-list {
        
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 10px;

        padding-top: 10px;
        padding-bottom: 10px;


    }


    .team__net-icon-thumb {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;

        background-color: #fbdb04;

        border-radius: 50%;

        transition-property: background-color var(--animation-icons);
    }

    .team__net-icon {
        fill: black;

        transition: fill var(--animation);
    }

    .team__net-icon-link:hover .team__net-icon-thumb,
    .team__net-icon-link:focus .team__net-icon-thumb {
        background-color: var(--accent-btn-color);
    }


    .team__net-icon-link:hover .team__net-icon .team__net-icon-link:focus .team__net-icon {
        fill: var(--main-text-color);
    }



}



@media screen and (min-width: 768px) {


.footer__modal {
        padding: 25px;       
        width: 720px;
        height: auto;
        
}

 .modal-close__btn{
 display: none;
 }

.team__name {
        font-size: 40px;
       
    }

      
  .team__logo {
    
    width: 80px;
    transform: translate(570%, 20%);
   
    }    

.team__list {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 gap: 30px;

}

.team__list-item {
margin-bottom: 0;
flex-basis: calc((100% - 30px) / 2);

}

.img__thumb {
    max-height: 425px;
}

 .social__nets {
    left: 10px;
}



.teammate__info {
        width: 100%;
        height: auto;
        padding: 10px;

    }

    .info__thumb {
        width: 100%;
        height: 100%;
        display: flex;
        overflow: hidden;

    }


.name,
.role,
.responsibilities
{

font-size: 13px;

}

.name::after{

height: 20px;

}

}


@media screen and (min-width: 1280px) {

 .footer__backdrop{
  padding: 60px;
 }


.footer__modal {
        width: 1120px;
        height: auto;
        
}

  .team__logo {
    
    width: 100px;
    transform: translate(650%, 20%);

}

.img__thumb {
        height: 220px;

    }


 .social__nets {
    left: 10px;
}



.name,
.role,
.responsibilities
{

font-size: 10px;
line-height: 1.19

}


.team__list {
gap: 15px;
}

.team__list-item {
margin-bottom: 0;

flex-basis: calc((100% - 75px) / 6);

}

}