@media screen and (min-width: 320px) {

    .footer__backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        padding: 20px;
        
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 1;
        overflow: auto;

                &.hidden {
            opacity: 0;
            pointer-events: none;

        }

        // &.hidden .footer__modal {
        //     transform: translateX(-50%) scale(0);
        // }

    }

    .footer__modal {
        position: relative;
        
        width: 280px;
        height: auto;
        padding-top: 48px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 40px;
        margin-left: auto;
        margin-right: auto;

        background: white;
        border-radius: 3px;

        // transform: translate(-50%, -50%) scale(1) rotate(1turn);

        // transition-property: transform;
        // transition-duration: 500ms;
        // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
              
    }


    .modal-close__btn {
        position: relative;
        top: -30px;
        right: -215px;
        padding: 6px;

        border: 0px;
        background-color: white;
        fill: #000000;

        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    }

    .modal-close__btn:hover {

        fill: orange;

    }

    .team__logo {
    
    width: 60px;
    margin: 0;
    transform: translate(300%, 20%);
    border-radius: 50%;
    overflow: hidden;
    
    }

    .team__logo-img{
    display: block;
    width: 100%;
    margin: 0;
    
    }



    .team__name {
        display: block;
        margin-bottom: 30px;

        text-align: center;
        text-transform: uppercase;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;

        color: #FF6B01;

    }

  .team__list-item {
        width: 100%;
        margin-bottom: 20px;  
  }

   .team__list-item:last-child {
        margin-bottom: 0px;
        
        }


    


    .teammate__card {
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .25);

        overflow: hidden;

      
}
       

    .img__thumb {
        width: 100%;
        height: auto;

        overflow: hidden;

    }


    .teammate__picture {
        width: 100%;
        height: auto;
    }

    .teammate__info {
        width: 100%;
        max-height: 120px;
        padding: 10px;

    }

    .info__thumb {
        display: flex;

    }

    .name {
        display: block;
        margin-bottom: 10px;
        margin-right: 10px;

        position: relative;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 1.33;

        color: #FF6B08;

    }

    .name::after {
        position: absolute;
        top: 0;
        right: -5px;
        ;

        display: block;
        content: "";
        display: block;
        width: 1px;
        height: 16px;

        border: 0.5px solid #FF6B08;

    }


    .role {
        display: block;
        margin-bottom: 10px;

        text-transform: uppercase;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        line-height: 1.33;

        color: #FF6B08;

    }


    .responsibilities {
        min-height: 100px;
        text-align: justify;
        word-break: keep-all;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.33;

        color: #000000;

    }

    // ------------------------------Соцсети

    .social__nets {

        max-width: 100%;
        height: auto;


    }


    .team__nets-list {

        display: flex;
        justify-content: space-around;
        align-items: center;

        padding-top: 10px;
        padding-bottom: 10px;


    }


    .team__net-icon-thumb {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;

        border-radius: 50%;



        background-color: #FFFFFF;


        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .team__net-icon {
        fill: #afb1b8;

        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .team__net-icon-link:hover .team__net-icon-thumb,
    .team__net-icon-link:focus .team__net-icon-thumb {
        background-color: #FF6B01;
    }


    .team__net-icon-link:hover .team__net-icon .team__net-icon-link:focus .team__net-icon {
        fill: black;
    }



}



@media screen and (min-width: 768px) {


.footer__modal {
        padding: 60px;       
        width: 720px;
        height: auto;
        
}

 .modal-close__btn{
 visibility: hidden;
 }

.team__name {
        font-size: 40px;
       
    }

      
  .team__logo {
    
    width: 80px;
    transform: translate(500%, 20%);
   
    }    

.team__list {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 gap: 30px;

}

.team__list-item {

flex-basis: calc((100% - 30px) / 2);

}




.name,
.role,
.responsibilities
{

font-size: 12px;

}

.name::after{

height: 20px;

}

}


@media screen and (min-width: 1280px) {

 .footer__backdrop{
  padding: 80px;
 }


.footer__modal {
        width: 1120px;
        height: auto;
        
}

  .team__logo {
    
    width: 100px;
    transform: translate(620%, 20%);

 .img__thumb {
        width: 100%;
        height: auto;

        overflow: hidden;

    }


}

.name,
.role,
.responsibilities
{

font-size: 13px;

}


.name::after{

height: 20px;

}

.team__list {
gap: 30px;
}

.team__list-item {

flex-basis: calc((100% - 60px) / 3);

}


}