.header__libary {
  background-image: url(../images/headerLibary/Mobile.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/headerLibary/Mobile@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/headerLibary/Tablet.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/headerLibary/Tablet@2x.jpg);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/headerLibary/Desktop.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/headerLibary/Desktop@2x.jpg);
    }
  }
}

.header__libary__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.header__libary__btn {
  color: #fff;
  height: 44px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #fff;
  border-radius: 5px;
  width: 130px;
}

.header__libary__btn__queue {
  margin-left: 20px;
}

.header__libary__btn:hover {
  cursor: pointer;
}

.header__libary__btn__active {
  background-color: #ff6b08;
  border: 2px solid #ff6b08;
}
