@import './backdrop';
@import './close_btn';
@import './btn';

.modal-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1100;

  height: 90vh;
  overflow-y: scroll;
  // margin-top: 15px;

  background-color: var(--second-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @media screen and (min-width: 320px) {
    min-width: 290px;
  }

  @media screen and (min-width: 768px) {
    min-width: 704px;
    height: auto;
    overflow-y: scroll;
  }

  @media screen and (min-width: 1280px) {
    min-width: 806px;
    height: auto;
    overflow: hidden;
  }
  &__container-content {
    padding: 48px 20px 40px 20px;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      padding: 40px 72px 40px 36px;
    }

    @media screen and (min-width: 1280px) {
      padding: 40px 12px;
    }
  }

  &__container-img {
    object-fit: cover;
    width: 240px;
    height: 357px;
    margin-bottom: 20px;

    @media screen and (min-width: 767px) and (max-width: 1199px) {
      margin-right: 68px;
      width: 264px;
      height: 374px;
    }

    @media screen and (min-width: 1280px) {
      width: 375px;
      height: 478px;
      margin-right: 16px;
    }
  }
  &__container-description {
    margin-bottom: 20px;

    @media screen and (min-width: 767px) and (max-width: 1199px) {
      width: 264px;
    }

    @media screen and (min-width: 1280px) {
      width: 391px;
    }
  }
  &__container-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (min-width: 767px) and (max-width: 1199px) {
      margin-top: 20px;
    }
    @media screen and (min-width: 1280px) {
      margin-left: 8px;
      margin-right: 96px;
    }
  }

  &__container-video {
    padding-top: 10px;
  }

  &__current-img {
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    width: 240px;
    height: 357px;
    border-radius: 5px;
    @media screen and (min-width: 767px) and (max-width: 1199px) {
      width: 264px;
      height: 374px;
    }
    @media screen and (min-width: 1280px) {
      width: 375px;
      height: 478px;
    }
  }

  &__name-film {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.15;

    @media screen and (min-width: 1280px) {
      font-size: 30px;
      line-height: 1.17;
    }
  }

  &__list {
    margin-bottom: 20px;
    list-style-type: none;
    padding: 0;
    line-height: 1.33;
    color: var(--modal-font-color);

    @media screen and (min-width: 1280px) {
      font-size: 12px;
    }
  }
  &__item:not(:last-child) {
    margin-bottom: 8px;
  }
  &__item {
    display: flex;
    align-items: center;
    align-content: center;
  }
}

.item {
  &__votes-vews {
    margin-left: 3px;
    line-height: 1.17;
    background-color: var(--footer-background);
    color: var(--main-text-colo);
    border-radius: 5px;
    padding: 1px 4px;
  }
  &__vote-rating {
    margin-left: 41px;
    margin-right: 2px;
    background-color: var(--accent-color);
    color: var(--second-text-color);
    padding: 1px 9px 1px 10px;
    border-radius: 5px;

    @media screen and (min-width: 1280px) {
      margin-left: 85px;
    }
  }

  &__vote-rating.library {
    display: inline-block;
    text-align: center;
    font-size: 12px;
    margin-left: 8px;
    width: 40px;
    height: 20px;
    padding: 0px;
  }
  &__popularity-value {
    margin-left: 53px;
    line-height: 1.17;
    color: var(--main-text-color);

    @media screen and (min-width: 1280px) {
      margin-left: 97px;
    }
  }
  &__title-value {
    margin-left: 39px;
    line-height: 1.33;
    color: var(--main-text-color);
    width: 107px;
    text-transform: uppercase;

    @media screen and (min-width: 1280px) {
      margin-left: 83px;
    }
  }
  &__genre-value {
    margin-left: 76px;
    line-height: 1.33;
    color: var(--main-text-color);

    @media screen and (min-width: 1280px) {
      margin-left: 120px;
    }
  }
}

.about {
  &__header {
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;
  }
  &__description {
    line-height: 1.67;
    margin-bottom: 8px;

    @media screen and (min-width: 1280px) {
      font-size: 12px;
    }
  }
}
