.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 180px) and (max-width: 768px) {
    padding-bottom: 40px;    
  }

  @media screen and (min-width: 768px) {
    padding-bottom: 60px;    
  }

}

.pagination__list {
  display: flex;
  list-style: none;
  &.dark-theme{
    color: var(--footer-background);
 
  }
}

.pagination__el {

  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  font-size: 12px;
  line-height: 1.33;

  cursor: pointer;
  transition: scale 250ms linear, color 250ms linear;
  &:hover,&:focus{
    color:var(--accent-color);
  }
}

.pagination__el--current {

  background-color: var(--accent-color);
  border-radius: 5px;
  color: var(--second-text-color);
  &:hover,
    &:focus {
      color: var(--second-text-color);
    }

}

.hidden {
  display: none
}

.pagination___btn--prev,
.pagination___btn--next {
  width: 40px;
  height: 40px;
  cursor: pointer;

  background: var(--footer-background);
  border-radius: 5px;
  border: none;
transition:background-color 250ms linear,color 250ms linear,box-shadow 250ms linear  ;

  &:hover,
  &:focus {
      scale: 1.05;
    background-color: var(--accent-btn-color);
    color: var(--second-text-color);
    border: 1px solid var(--accent-btn-color);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;

  }
}

.dots{

  




  display: flex;
  align-items: center;
}



.pagination___btn--prev{
  transform: matrix(-1, 0, 0, 1, 0, 0);
}