.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 180px) and (max-width: 768px) {
    padding-bottom: 40px;    
  }

  @media screen and (min-width: 768px) {
    padding-bottom: 60px;    
  }

}

.pagination__list {
  display: flex;
  list-style: none;
}

.pagination__el {

  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  font-size: 12px;
  line-height: 1.33;
  color: var(--main-text-color);
  cursor: pointer;
}

.pagination__el--current {

  background-color: var(--accent-color);
  border-radius: 5px;
  color: var(--second-text-color);
}

.hidden {
  display: none
}

.pagination___btn--prev,
.pagination___btn--next {
  width: 40px;
  height: 40px;
  left: 20px;
  top: 2103px;

  background: var(--footer-background);
  border-radius: 5px;
  border: none;
}