@import '../../node_modules/swiper/swiper-bundle.css';

.swiper-container {
  padding-top: 20px;
  padding-bottom: 0px;

  @media screen and (min-width: 768px) {
      padding-top: 60px;
  }
  &.dark-theme{
    color:var(--second-text-color) ;
  }
}

.swiper-title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}
.swiper {
  width: 100%;
  height: 180px;
}

.swiper-image {
  width: 100%;
  height: 100%;
  border-radius: 4%;
}
.swiper-rating {
  position: absolute;
  bottom: 5px;
  right: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 13px;
  line-height: 1.1;

  width: 40px;
  height: 15px;
  border-radius: 5%;

  background-color: var(--accent-color);
  color: var(--second-text-color);
}

.swiper-slide {
  position: relative;

  transition: scale var(--second-animation);
  &:hover,
  &:focus {
    scale: 1.04;
    cursor: pointer;
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--accent-btn-color);
  border-radius: 10%;
  transition: background-color var(--second-animation);
  &:hover,
  &:focus {
    background-color: rgba(226, 230, 220, 0.733);
  }
}
