@import'../../node_modules/swiper/swiper-bundle.css';

.swiper {
    width: 100%;
    height: 180px; 
}

.swiper-image{
    width: 100%;
    height: 100%;
    border-radius: 4%;
}
.swiper-rating{
    position: absolute;
    bottom: 5px;
    right: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 500;
    font-size: 13px;
    line-height: 1.1;

    width: 40px;
    height: 15px;
    border-radius: 5%;

    background-color:#FF6B08;
    color: white;
}

.swiper-slide{
    position: relative;
    
    transition: scale 250ms linear;
    &:hover, &:focus{
        scale:1.04;
        
    } 
}

