.header.container {
  position: relative;
}

.switch__theme,
.switch__theme__library {
  display: inline-block;
  height: 30px;
  width: 60px;
  position: absolute;
  bottom: 50%;
  right: 5%;
  border-radius: 34px;
  box-shadow: white 0px 0px 0px 3px;
  z-index: 2;

  transition: box-shadow 250ms linear;
  
  @media screen and (min-width: 768px) {
    bottom: 10%;
  }

  &:hover,
  &:focus {
    box-shadow: red 0px 0px 0px 3px;
  }
}


.switch__input {
  opacity: 0;
  visibility: hidden;
  border-radius: 34px;
}

.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  border-radius: 30px;
  transition: background-color 150ms linear;

  &:hover::before,
  &:focus:before {
    background-color: var(--accent-color);
  }
}

.switch__slider::before {
  content: '';
  position: absolute;
  cursor: pointer;
  left: 0;
  bottom: 0;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #111;
  transition: 1s step-start;
  z-index: 7;
  transition:left 100ms linear, background-color 100ms linear;

}

.switch__input:checked+.switch__slider {
  background-color: #fff;
}

.switch__input:checked+.switch__slider::before {
left: 30px;
}

.moon__icon,
.sun__icon {
  position: absolute;
  z-index: 6;
}

.moon__icon {
  fill: rgb(16, 61, 243);
  right: 0;
  bottom: 1px;
}

.sun__icon {
  fill: #ffb500;
  left: 8.5%;
  top: 5px;
}
