.dark{
    background-color: var(--dark-theme-background-color);

    color: var(--second-text-color);
}

.theme{
    margin-bottom: 10px;
    color: var(--second-text-color);
    font-weight: 400;
    font-size: 15px;
}
.light-theme{
    margin-right: 10px;
}