.dark{
    background-color: rgb(35, 37, 61);

    color: white;
}

.theme{
    margin-bottom: 10px;
    color: white;
    font-weight: 400;
    font-size: 15px;
}
.light-theme{
    margin-right: 10px;
}